.resource-preview {
  position: relative;
  height: 100%;
  overflow-y: scroll;
  flex-basis: 40%;
  border-left: 1px solid #555;
  font-size: 16px;
  box-sizing: border-box;
  padding: 1vh;
}

.resource-preview-loading {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding: 2vh;
  background: #303030;
}

.renderjson {
  margin: 0;
}

.renderjson .key {
  color: #6bc16b;
}

.renderjson .object.syntax,
.renderjson .array.syntax {
  color: #777790;
}

.renderjson .string {
  color: #d6a37c;
}

.renderjson .number {
  color: #dbef92;
}
