html, body {
  margin: 0;
  padding: 1rem;
  height: 100%;
  font-family: sans-serif;
  background: #222;
  color: #fff;
  font-size: 18px;
}

a {
  color: #95b1e8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3 {
  margin: 0 0 1rem;
}
